body{
	margin: 0;
	padding:0;
	font-family: 'Lato', sans-serif;
	color: BCBBBB;
	font-size: 17px;
}

.container {
	margin-left: auto;
	margin-right: auto;
	max-width: 900px;
	padding: 0;
	display: flex;
	flex-wrap:wrap;
}

.box-100 {
	width: 100%;
}

.box-75 {
	width: 75%;
}

.box-25 {
	width: 25%;
}

.box-33 {
	margin-right: 20px;
	width: calc((100% - 40px)/3);
	object-fit: cover;
}

.box-33.last {
	margin-right: 0px;
}

img.logo-img {
	width: 60%;
}

img.big-img {
	display: block;
	width: 100%;
	height: 350px;
	margin: 0;
	padding: 0;
	border-radius: 4px;
}

div.main-title {
	text-align: right;
	position: relative;
	border-bottom: 1px;
}

div.main-title h1 {
	font-family: 'Work Sans', sans-serif;
	font-size: 50px;
	color: #747704;
	margin: 0;
	vertical-align: bottom;
	position: absolute;
	bottom: 40px;
	right: 5px;
	margin-bottom: 10px;
}

div.main-title h2 {
	font-size: 20px;
	color: #747704;
	margin: 0;
	position: absolute;
	bottom: 20px;
	right: 5px;
}

.container.big-image {
	object-fit: fill;
}

.featured {
	font-size: 35px;
	margin-bottom: 10px;
	margin-left: 10px;
	color: #bcbbbb;
}

img.img-thumbnail {
  display: inline-block;
  width: 100%;
  height: 190px;
  padding: 0px;
  margin: 0px;
  line-height: 1.42857143;
  background-color: #fff;
  border-radius: 4px;
}

.label {
	font-size: 30px;
	color: #747704;
	text-align: center;
	margin: 0;
}

a {
	text-decoration: none;
	margin: 0;
	color: #bcbbbb;
	font-size: 12px;
}

.link {
		text-align: center;
		margin:0;
}

.divider {
	border-top-width: 1px;
	border-style: solid;
  	border-color: #bcbbbb;
	position: relative;
  	display: block;
  	width: 100%;
  	margin-bottom: 30px;

}